.main{
    position: relative;
    left: 0%;
    margin-left: auto;
    margin-right: auto;
   width: 320px;
   height: 250px;
    background-color: gold;
    border-radius: 10px;
}

input{
    height: 20px;
    border-radius: 5px;
    width: 200px;
    font-size: 16px;
}
input:focus{
    background-color: pink;
 
}
td{
    font-size: 25px;
}
.button{
   height: 35px;
}

body{
    background-color: silver;
}

form{
    position: relative;
    top: 20%;
}
h1{
    font-size: 20px;
    position: relative;
    left: 2%;
}
